
body{
/*	background-image: url(../images/space.jpg);
	background-repeat: no-repeat;*/
	  background: url(../images/space.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	color: #ffffff;
}

p {
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

ul li {
	font-size: 12px;
}

.page-title {
	font-size: 4.5rem;
}

#hangman-message-1 {
	margin-top: 40px;

}

#hangman-message-2 {
	margin-bottom: 10px;
}

.header {
	border-bottom: 4px solid #eeeff3;
}

#hangman-edition{
	color: #eeeff3;
}

#current-word {
	letter-spacing: 10px;
	font-size: 28px;
	color: #85C1E9;
}

#letters-guessed {
	color: #F9E79F;
	font-size: 18px;
}

#number-guesses {
	font-size: 18px;
}

.hangman-content {
	padding: 20px;
	background-color: rgba(37,31,51,0.45);
	border: 2px solid #eeeff3;
}

.reset-btn-row {
	margin-top: 30px;
}

.reset-btn{
/*	border: 1px solid #eeeff3;
	background-color: rgb(37,31,51);
	color: #eeeff3;*/
	border: 1px solid rgb(37,31,51);
	background-color: #eeeff3;
	color: rgb(37,31,51);
}

